doctype html
html(lang='eng')
	include _header.pug
	body
		.container
			.row
				.col-md-12
					h1 this is a container
					p this is a icon <i class="glyphicon glyphicon-euro"></i>
		include _section.pug
		include _section2.pug
	include _footer.pug


